.skill-page {
  height: fit-content;
}

.skill-page .main-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 780px;
  justify-self: center;
  align-self: center;
}

.skill-page .main-skills > .skill-right {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .skill-page {
    align-self: flex-start;
    max-width: 320px;
  }
  .skill-page .main-skills {
    flex-direction: column;
  }
  .skill-page .main-skills > .skill-right {
    margin-left: 0;
    margin-top: 32px;
  }
  .skill-page .main-skills > .skill-right > :last-child {
    margin-top: 32px;
  }
}

@media (max-width: 600px) {
  .skill-page {
    margin: 0 15vw;
  }
}
