.experiences-page {
  margin-top: -4vw;
}

@media (max-width: 768px) {
  .experiences-page {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .experiences-page {
    margin: 0 24px;
  }
}

.experiences-page .exp-content > h1 {
  margin: 16px 0;
}

.experiences-page .exp-container {
  margin-bottom: 12px;
  display: flex;
}

@media (max-width: 768px) {
  .experiences-page .exp-container {
    flex-direction: column;
  }
}

.experiences-page .exp-container > ul {
  margin: 0;
}

.experiences-page .exp-container > ul > li {
  margin-bottom: 8px;
}
