.framework {
    display: "flex";
    flex-direction: "row";
    justify-content: "center";
    align-items: "center";
    > .header-framework {
        background-color: "#69c7fe";
        width: "100%";
        margin-bottom: 12px;
    }
    >.icons-framework{
        display: block;
        
        >div {
            float: left;
            width: 72px;
            margin: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}