.hardware {
    display: "flex";
    flex-direction: "row";
    justify-content: "center";
    align-items: "center";
    > .header-hardware {
        background-color: "#69c7fe";
        width: "100%";
        margin-bottom: 12px;
    }
}
