.about-page {
    display: flex;
    justify-content: space-between;
    max-width: 760px;
    @media (max-width: 768px) {
       flex-direction: column;
       align-items: center;
       justify-content: center;
       align-self: flex-start;
        
    }
    @media (max-width: 768px) {
        margin: 0 32px;
        
    }

    > .left-about {
        > img {
            width: 25vw;
            height: auto;
            border-radius: 50%;
            margin: 24px;
            margin-right: 42px;
            min-width: 260px;
            @media (max-width: 768px) {
                min-width: 150px;

            }
        }
    }
    > .right-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        >:not(:last-child){
            margin-bottom: 32px;
        }
        > .about-me {
            > p {
                margin-left: 18px;
            }
        }
        > .contact-me {
            > :not(:last-child) {
                margin-bottom: 12px;
            }
            .contact-item {
                display: flex;
                align-items: center;
                font-size: 0.8rem;
                justify-content: start;

                > .contact-item-label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 12px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
