main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dev-skill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw
}

#dev-skill > aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dev-skill > aside > h1 {
    font-size: 1.5rem !important;
}
#dev-skill > aside > img {
    width: 30vw;
    height: auto;

}
#dev-skill > section > article {
    display: flex;
align-items: center;
    justify-content: space-between;
}
#dev-skill > section > article > p {
    font-size: 1rem;
}

#about {
    width: 40vw;
    margin: 48px auto;
    text-align: center;
    position: relative;
    bottom: 0;
}

#education {
    width: 40vw;
    align-self: center;
    margin: 48px auto;
    text-align: center;
}
#education > table {
    width: 40vw;
}

#education > table th {
    font-size: 2rem;
    padding: 1rem;
}

#education > table td {
    font-size: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 580px) {
    #dev-skill {
        flex-direction: column;
    }
    #dev-skill > aside > h1 {
        font-size: 1rem;
    }
    #dev-skill > aside > img {
        width: 40vw;
        height: auto;
    
    }
    #dev-skill > section > article > p {
        font-size: 0.75rem;
    }
    #about {
        width: 90vw;
        align-self: center;
        margin: 12px auto;
        text-align: center;
    }
    #education > table {
        width: 100vw;
    }
    #education {
        width: 100vw;
    }
}